<hr>

<div class="bookmark_info">
  <div class="bookmark_title">
    <h3><%= link_to bookmark.title, bookmark.url, target: "blank" %></h3>
  </div>

  <div class="category">
    <h4><%= bookmark.category %></h4>
  </div>

  <div class="right">
    <ul>
      <li class="inline"><%= "favorited" if bookmark.is_favorite %></li>
      <li class="inline"><%= "comments" if bookmark.comment.present? %></li>
      <li class="inline"><%= link_to "edit", edit_bookmark_path(bookmark.id) %></li>
      <li class="inline"><%= link_to "delete", bookmark, method: :delete, data: {confirm: 'Are you sure you would like to delete the bookmark?'} %></li>
      <li class="inline"><%= link_to "more", bookmark_path(bookmark.id) %></li>
    </ul>
  </div>

 </div>
