<li>
  <%= link_to(bookmark.title, bookmark_path(bookmark.id) ) %></br>
  <%= bookmark.category %></br>
  <!-- image for when a comment exists (image links to show page) -->
  <%= bookmark.comment %><br>
  <%= "Favorite" unless bookmark.is_favorite == false  %><br>

  <!--- link_to view helper will create an < a href > with the name of the bookmark -->

  | <%= link_to('Edit', edit_bookmark_path(bookmark)) %>
    | <%= link_to 'Destroy', bookmark, method: :delete, data: {confirm: 'Are you sure?'} %>
</li>
</br>
