<li>
  Title: <%= link_to(bookmark.title,bookmark_path(bookmark.id)) %>
  <br>
  url: <%= bookmark.url %>
  <br>
  comment: <%= bookmark.comment %>
  <br>
  category: <%= bookmark.category %>
  <br>
  favorite: <%= bookmark.favorite %>
</li>
<br>
