<li>Title: <%= link_to(bookmark.title, bookmark_path(bookmark.id)) %>
  | Category: <%= bookmark.category %>
  | Favorite: <%= bookmark.is_favorite %>
  | Comments: <%= bookmark.comment %>
  | <%= link_to "Edit bookmark", edit_bookmark_path(bookmark.id) %>
  | <%= link_to 'Delete bookmark', bookmark, method: :delete, data: {confirm: 'Are you sure you would like to delete this bookmark?'} %>
</li>
