<li>Title: <%= link_to(bookmark.title, bookmark_path(bookmark.id)) %>
  | Category: <%= bookmark.category %>
  | Favorite: <%= bookmark.is_favorite %>
  | Comments: <%= bookmark.comment %>
  | <%= link_to "Edit bookmark", edit_bookmark_path(bookmark.id) %>
</li>
