<hr>

<div class="bookmark_info">
  <div class="bookmark_title">
    <h3><%= link_to bookmark.title, bookmark.url, target: "blank" %></h3>
  </div>

  <div class="category">
    <h4><%= bookmark.category %></h4>
  </div>

  <div class="right">
    <ul>
      <% if bookmark.is_favorite %>
        <li class="inline"><i class="fi-star"></i> favorited</li>
      <% end %>
      <% if bookmark.comment.present? %>
        <li class="inline"><i class="fi-comment"></i> comments</li>
      <% end %>
      <li class="inline"><i class="fi-pencil"></i> <%= link_to "edit", edit_bookmark_path(bookmark.id) %></li>
      <li class="inline"><i class="fi-trash"></i> <%= link_to "delete", bookmark, method: :delete, data: {confirm: 'Are you sure you would like to delete the bookmark?'} %></li>
      <li class="inline"><i class="fi-plus"></i> <%= link_to "more", bookmark_path(bookmark.id) %></li>
    </ul>
  </div>

 </div>
