<%= form_for @bookmark do |form| %>
  <div class="row">
    <div class="small-10">
      <div class="row">
        <div class="small-3 columns">
          <%= form.label :title, :class => 'right inline' %>
        </div>
        <div class="small-9 columns">
          <%= form.text_field :title %>
        </div>
      </div>
    </div>
    <div class="small-10">
      <div class="row">
        <div class="small-3 columns">
          <%= form.label :url, :class => 'inline right' %>
        </div>
        <div class="small-9 columns">
          <%= form.text_field :url, placeholder: 'http:// required' %>
        </div>
      </div>
    </div>
    <div class="small-10">
      <div class="row">
        <div class="small-3 columns">
          <%= form.label :comment, :class => 'inline right' %>
        </div>
        <div class="small-9 columns">
          <%= form.text_field :comment, placeholder: 'optional' %>
        </div>
      </div>
    </div>
    <div class="small-10">
      <div class="row">
        <div class="small-3 columns">
          <%= form.label :favorite, :class => 'right' %>
        </div>
        <div class="small-4 columns">
          <%= form.check_box :favorite %>
        </div>
        <div class="small-3 columns">
          <%= form.submit :class => 'button small radius' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
