<%= form_for(@bookmark) do |f| %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
<!--   <div class="field">
    <%= f.collection_select :serious, :funny, :useful %>
  </div>
  <div class="actions">
    <%= f.collection_select : %>
  </div> --> --> -->
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
