<% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this
      post from being saved:</h2>
     <ul>
        <% @bookmark.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
         <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @bookmark do |f| %>
  <div class="form-label">
  <%= f.label :title %>
  </div>

  <%= f.text_field :title %>

  <div class="form-label">
  <%= f.label :url %>
  </div>
  <%= f.text_field :url %>
  <div class="form-label">
  <%= f.label :category %>
  </div>
  <%= f.select :category, Bookmark::CATEGORIES %>

  <div class="form-label">
  <%= f.label :comment %>
  </div>
  <%= f.text_area :comment %>
  <div>
  <%= f.submit %>
  </div>
<% end %>
