<%= form_for(@bookmark) do |f| %>

  <div class="field">
    <h3><%= f.label :url %><br></h3>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <h3><%= f.label :title %><br></h3>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h3><%= f.label "Comment"%><br></h3>
    <%= f.text_field :comment %>
  </div>


  <div class="field">
    <h3><%= f.label :category %><br></h3>
    <%= radio_button :bookmark, :category,  :funny %>Funny<br>
    <%= radio_button :bookmark, :category,  :serious %>Serious<br>
    <%= radio_button :bookmark, :category,  :helpful %>Helpful
 </div>

  <div class="field">
    <h3><%= f.label "Favorited?" %><br></h3>
    <%= radio_button :bookmark, :favorite_flag,  :true %>Yes<br>
    <%= radio_button :bookmark, :favorite_flag,  :false %>No<br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
