<%= form_for @bookmark do |f| %>
  <% if @bookmark.errors.any? %>
    <div id='error_explanation'>
    <h2><% pluralize(@bookmark.errors.count, 'error') %> prohibited this bookmark from being saved:</h2>
    <ul>
    <% @bookmark.errors.full_messages.each do |bookmark|%>
      <li><%= bookmark %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <div class='inline'>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <br>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <%= f.label :is_favorite %>
    <%= f.text_field :is_favorite %>
    <br>
  </div>
  <%= f.submit %>
<% end %>
