  <div class="row">
  <div class="small-offset-3 columns">

  <% if !bookmark.nil? && bookmark.errors.any? %>
  <div id="error_explanation">
    <h2 class="error-alert"><%= pluralize(bookmark.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul class="error-list-container">
      <% bookmark.errors.full_messages.each do |msg| %>
      <li class="error-list-item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for bookmark do |f| %>
    <div class="form-element-container">
      <div class="form-element-label required"><%= f.label :url %></div>
      <div class="form-element"><%= f.text_field :url, size: 42 %></div>
    </div>
    <div class="form-element-container">
      <div class="form-element-label required"><%= f.label :title %></div>
      <div class="form-element"><%= f.text_field :title, size: 42 %></div>
    </div>
    <div class="form-element-container">
      <div class="form-element-label"><%= f.label :category %></div>
      <div class="form-element"><%= f.select :category, %w[Serious Funny Useful], {include_blank: true} %></div>
    </div>
    <div class="form-element-container">
      <div class="form-element-label"><%= f.label 'Favorite?' %></div>
      <div class="form-element"><%= f.check_box :is_favorite %></div>
    </div>
    <div class="form-element-container">
      <div class="form-element-label"><%= f.label :comments %></div>
      <div class="form-element"><%= f.text_area :comments, cols: 40, rows: 3 %></div>
    </div>
    <div class="form-element-container">
      <div class="form-element-label"></div>
      <div class="form-element"><%= f.submit btn_label %></div>
    </div>
  <% end %>

</div>
</div>
