<%= form_for(@bookmark) do |f| %>

  <div class="field">
    <h3><%= f.label :url %><br></h3>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <h3><%= f.label :title %><br></h3>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h3><%= f.label :description %><br></h3>
    <%= f.text_field :description %>
  </div>


  <div class="field">
    <h3><%= f.label :category %><br></h3>
    <%= radio_button :bookmark, :category,  :funny %>Funny<br>
    <%= radio_button :bookmark, :category,  :serious %>Serious<br>
    <%= radio_button :bookmark, :category,  :helpful %>Helpful
 </div>

  <div class="field">
    <h3><%= f.label :favorite_flag %><br></h3>
    <%= radio_button :bookmark, :favorite_flag,  :true %>Favorited<br>
    <%= radio_button :bookmark, :favorite_flag,  :false %>Not Favorited<br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
