<h1>bookmarks#edit</h1>

<%= form_for @bookmark do |form| %>
	<%= form.label :name, "name of url:"%>
	<p><%= form.text_field :name, placeholder: "#{@bookmark.name}" %></p>
	<%= form.label :url, "web address:"%>
	<p><%= form.text_field :url, placeholder: "#{@bookmark.url}"%></p>
	<p><%= form.submit %></p>
<% end %>
