<div class="container bookmarks-container">
  <% @bookmarks.each do |bookmark| %>
  <div class="row">
    <div class="col-md-4">
      <h2 class="bookmark-title"><%= link_to bookmark.title, bookmark.url %></h2>
      <%= link_to 'View Details', bookmark_path(bookmark), class: 'btn btn-primary btn-sm bookmark-link' %>
    </div>
    <div class="col-md-2">
      <p>
        <% if bookmark.comments.length > 0 %>
          <span><%= bookmark.comments.length %> Comments</span>
        <% end %>
      </p>
      <p> 
        <% if bookmark.checkbox %>
           &#9733;
        <% end %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <% if bookmark.tags.length > 0 %>
          <% bookmark.tags.each do |tag| %>
            <a class="btn btn-info tag" href="#"><%= tag.tag_text %></a>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <hr>
  <% end %>
  <%= link_to 'New Bookmark', new_bookmark_path, class: 'btn btn-primary btn-lg' %>
</div>

