
<p><%= link_to 'New Bookmark', new_bookmark_path %></p>

<dl>
  <% @bookmarks.each do |bookmark| %>
    <dt><a href="<%= bookmark.url %>"><%= bookmark.title %></a></dt>
    <!-- calling the rails object will call the show view by default blat is the same as blat_path(blat.id) you can also see the link_to path helper if you run rake routes -->
    <dd><%= bookmark.comment %></dd>
    <dd><%= link_to 'Delete bookmark', bookmark_path(bookmark.id), method: :delete %></dd>
     <dd><%= link_to 'Edit bookmark', edit_bookmark_path(bookmark.id), method: :get %></dd>
  <% end %>
</dl>

