<h1>Bookmarks</h1>

<!-- <% if params[:filter].nil? %>
  <a href="#" data-dropdown="drop1" class="tiny button dropdown">Filter By Category</a><br>
  <ul id="drop1" data-dropdown-content class="f-dropdown">
    <% @bookmarks.map(&:category).uniq.sort.each do |category| %>
      <li><%= link_to category, filter: category %></li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Clear Filter", filter: nil, class: "button" %>
<% end %> -->

<% if params[:filter].nil? %>
  <ul>Filter by Category
    <% @bookmarks.map(&:category).uniq.sort.each do |category| %>
      <li><%= link_to category, filter: category %></li>
    <% end %>
  </ul>
<% else %>
  <h3><%= params[:filter] %></h3>
  <p><%= link_to "Clear Filter", filter: nil %></p>
<% end %>

<div>
<%= render partial: "bookmark", collection: @bookmarks %>
</div>
