<h2>ADD NEW BOOKMARK</h2>

<%= render "form" %>

<div class='list black'>
	<ul>
		<ul class='list-header'>
			<li>NAME</li>
			<li>URL</li>
			<li>COMMENT</li>
			<li>COUNT</li>
			<li>FAVORITE</li>
		</ul>

		<% @all_bookmarks.each do |bookmark| %>
			<ul class='in-line'>
				<li><%= link_to bookmark.name, bookmark %></li>
				<li><%= link_to "Visit site", bookmark.url, target: "_blank"%></li>
				<li><%= bookmark.comment %></li>
				<li><%= bookmark.click_count %></li>
				<% if bookmark.favorite %>
						<li class='star'></li>
				<% else %>
						<li></li>
				<% end %>
				<li class='short'><%= link_to "Edit", edit_bookmark_path(bookmark) %></li>
				<li class='short'><%= link_to "Delete", bookmark_path(bookmark), method: :delete, confirm: "Are you sure you want to delete this bookmark?"%></li>
			</ul>
		<% end %>

	</ul>
</div>