<h3>Look at all these bookmarks!</h3>

<table>
  <tr>
    <td>Title</td>
    <td>Category</td>
    <td>Favorite?</td>
    <td>Comment?</td>
  </tr>
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td><a href='<%= bookmark.url %>' target='_blank'><%= bookmark.title %></td>
      <td><%= bookmark.category %></td>
      <td><%= bookmark.is_favorite %></td>
      <td><%= bookmark.comment %></td>
      <td><%= link_to 'Show me all attributes', bookmark %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Add a new bookmark', new_bookmark_path %>

