<ul class="list-group">
  <% @bookmarks.each do |bookmark| %>
    <li class="list-group-item">
    <p><strong><%= link_to bookmark.title, bookmark_path(bookmark.id), class: "bookmark" %> </strong>| <%= link_to bookmark.url, bookmark.url %>
    <%= link_to('Edit', edit_bookmark_path(bookmark), class: "btn btn-sm btn-default pull-right") %>
    &nbsp;<%= link_to 'Delete', bookmark, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-sm btn-default pull-right" %>
    <span class="label label-primary "><%= bookmark.category_id %></span></p>
    <p class="list-group-item-text"><i><%= bookmark.comment %></i>
    <% if bookmark.favorite == true %>
      <span class="glyphicon glyphicon-heart"></span></p>
      <% end %>
    </li>
  <% end %>

</ul>


