<h1>Bookmarks</h1>

<%= link_to 'New bookmark', new_bookmark_path %>


<ul>
  <% @bookmarks.each do |bookmark| %>

    <li>
    <!--  <%= link_to bookmark.title, bookmark.url %> -->
    <!--  chose not to use link_to so website could open up in new tab -->
    <a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a><br>
      Category: <%= bookmark.category %><br>

      <% if bookmark.comment %>
        Contains Comment<br>
      <% else %>

      <% end %>

      <% if bookmark.is_fav %>
        Favorite
      <% else %>

      <% end %>
    </li>

  <% end %>
</ul>
