<ul> All Bookmarks
<% @bookmarks.each do |bookmark| %>
  <li> URL is <%= bookmark.url %>,
  Title is <%= bookmark.title %>,
  Comment is <%= bookmark.comment %>,
  Category is <%= bookmark.category %>
  Is favorite? <%= bookmark.is_favorite %>
  </li>
<% end %>
</ul>


