<h1>These are your bookmarks:</h1>

<table border="1">
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td> <%= bookmark.url %> </td>
      <td> <%= bookmark.title %> </td>
      <td> <%= bookmark.description %> </td>
      <td> <%= bookmark.category %> </td>
      <td> <%= bookmark.checkbox %> </td>
      <td> <%= bookmark.created_at %> </td>
      <td> <%= bookmark.updated_at %> </td>
      <td> <%= link_to "Delete", {controller: :bookmarks, action: :destroy, id: bookmark } %> </td>
      <td> <%= link_to "Edit" %> </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Bookmark", new_bookmark_path %>


