<table class='box effect8'>
  <tr>
    <td class='column_header'>Title</td>
    <td class='column_header'>Category</td>
    <td class='column_header'>Favorite?</td>
    <td class='column_header'>Comment?</td>
  </tr>
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td><a href='<%= bookmark.url %>' target='_blank'><%= bookmark.title %></td>
      <td class='column_header'><%= bookmark.category %></td>
      <td class='column_header'><%= bookmark.is_favorite %></td>
      <td class='column_header'><%= bookmark.is_favorite %></td>
      <td><%= bookmark.comment %></td>
      <td class='column_header'><%= link_to 'Show me all attributes', bookmark %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Add a new bookmark', new_bookmark_path %>

