<h1>Bookmarks:</h1>
<div class="container">
<dl>
  <% @bookmarks.each do |bookmark| %>
  <% if bookmark.favorite == true %>
    <dt><strong><a href="<%= bookmark.url %>"><%= bookmark.title %></a></strong></dt>
  <% else %>
    <dt><a href="<%= bookmark.url %>"><%= bookmark.title %></a></dt>
  <% end %>
    <div class="btn-group">
      <div type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </div>
      <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Delete', bookmark_path(bookmark.id), method: :delete %></li>
      <li><%= link_to 'Edit', edit_bookmark_path(bookmark.id), method: :get %></li>
      </ul>
    </div>
    <!-- calling the rails object will call the show view by default blat is the same as blat_path(blat.id) you can also see the link_to path helper if you run rake routes -->
      <dd>Comment: <%= bookmark.comment %></dd>
  <% end %>
</dl>
</div>
<p><%= link_to 'Create new bookmark', new_bookmark_path %></p>



