<p><%= link_to 'New Bookmark', new_bookmark_path %></p>

<dl>
  <% @bookmarks.each do |bookmark| %>
    <dt><a href="<%= bookmark.url %>"><%= bookmark.title %></a></dt>
    <dd>
    <% if bookmark.favorite == true %>
      <b><%= bookmark.url %></em></b><br>
    <% else %>
      <%= bookmark.url %><br>
    <% end %>
    <%= bookmark.comment %><br>
    </dd>
  <% end %>
</dl>
