<h2>Bookmarks</h2>
<% @bookmarks.each do |bookmark| %>
	<p>
		<% if bookmark.favorite %>
			<strong>
		<% end %>
			<%= link_to bookmark.title, bookmark_path(bookmark), target: '_blank' %> | <%= link_to 'Edit', edit_bookmark_path(bookmark.id) %> | <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, confirm: 'Are you sure?' %> (<%= bookmark.clicked %>)
		<% if bookmark.favorite %>
			</strong>
		<% end %>
	</p>
<% end %>
<%= link_to 'Add a new bookmark', new_bookmark_path, class: 'btn btn-success' %>
