<p id="notice"><%= notice %></p>
<h1>List of Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!-- iterates over the entries and posts the entries in table cells. -->
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title, URL%></td>
        <td><%= bookmark.description %></td>
        <td><%= bookmark.checkbox %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>

