<h1>Bookmarks#index</h1>


<p>  Bookmarks Home Page </p>
	<% @bookmarks.each do |bookmark| %>
		<p>name: <%= link_to bookmark.name, bookmark_path(bookmark.id) %></p>
		<p>url: <%= bookmark.url %></p>
		<p><%= link_to 'Edit Bookmark', "/bookmarks/#{bookmark.id}/edit" %></p>
			<%= form_tag("/bookmarks/#{bookmark.id}", method: "delete") do -%>
	  		<div><%= submit_tag 'delete' %></div>
	  	<%end%>
	<% end %>
<p><%= link_to 'New Bookmark', new_bookmark_path %></p>






