<table class='box effect8'>
  <tr class="table_headers">
    <td class='column_header'>Webpage</td>
    <td class='column_header'>Description</td>
    <td class='column_header'></td>
    <td class='column_header'></td>

  </tr>
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td class='table_entry'><a href='<%= bookmark.url %>' target='_blank'><%= bookmark.title %></td>
      <td class='table_entry'><%= bookmark.comment %></td>
      <td class='table_entry'><%= bookmark.category %></td>
      <td class='table_entry'><%= link_to 'Dig deeper...', bookmark %></td>
    </tr>
  <% end %>
</table>
<br>
