<% if flash[:notice] %>
  <div class = "flash-message alert-success alert-dismissable"><%= flash[:notice] %></div>
<% end %>
<div class="menu_type">
<%= @category.capitalize if @category %> Bookmarks
</div>

Comments  - <div class="glyphicon glyphicon-pencil"></div>
<br>
Favorites  - <div class="glyphicon glyphicon-star-empty"></div>

<hr>
<ul class="span6">
  <% @bookmarks.each do |bookmark| %>
  <li class="text-left list_title">
  <div class="bmark_title"
    <strong><%= link_to "#{bookmark.title}", bookmark.url  %></strong>
    <br>
    <% if bookmark.category %>
    -- (<%= bookmark.category %>)
    <% end %>
  </div>
  <div class="glyphs">
    <% if bookmark.comment != "" %>
    <div class="glyphicon glyphicon-pencil"></div>
    <% end %>
    <% if bookmark.favorite  %>
    <div class="glyphicon glyphicon-star-empty"></div>
    <% end %>
  </div>
  <div class="view_path">

    <%= link_to "View", bookmark_path(bookmark.id) %>
  </div>
</li>
<br>
<hr>
<% end %>
</ul>

<!-- TO DO -->

<!--
      7) STYLE!!!!!
        -LINKS
          -list_title
          -view_path
        -glyphs
        -
    -->
