<h1>All of your Bookmarks</h1>

<p><%= link_to "Create New Bookmark", new_bookmark_path%></p>

<dl>
<% @bookmarks.each do |bookmark| %>
	<dt>URL: <%=bookmark.url%>
	<br>
	<a href="bookmarks/show">Edit bookmark</a></dt>
	<br>
	<dt><%=link_to "Go to site", bookmark.url %></dt>
	<dt>TITLE: <%=bookmark.title%></dt>
	<dt>COMMENT: <%=bookmark.comment%></dt>
	<dt>
	<% if bookmark.favorite == true%>
	<strong>FAVORITE: <%=bookmark.favorite%></strong>
		<%else bookmark.favorite %></dt>
		<%end%>
	<%end%>
</dl>


