<heading>
  <h1>Here is a list of all the bookmarks:</h1>
</heading>

<!-- this is creates a table -->
<table>
<!-- this specifies the table header -->
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>favorite</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
<!-- this specifies the table body -->
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title %></td>
        <td><%= bookmark.description %></td>
        <td><%= bookmark.favorite %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Bookmakr', new_bookmark_path %>





