<h1>Your Bookmarks</h1>
  <% @bookmarks.each do |bookmark| %>
  <ol>
  <li>
    <ul>
      <li><%= bookmark.id %></li>
      <li><%= link_to bookmark.title, bookmark %></li>
      <li><%= link_to bookmark.url, bookmark.url %></li>
      <li><%= bookmark.comment %></li>
      <li><%= bookmark.favourite? %></li>
    </ul>
  </li>
  </ol>
  <% end %>
<br>
<p>
  <%= link_to 'Create New Bookmark', new_bookmark_path %>
</p>