<ul>
  <% @bookmarks.each do |bookmark| %>

  <li><%= link_to(bookmark.title, bookmark.url) %> | <%= bookmark.category %>
  | <%= link_to('etc' , bookmark_path(bookmark.id)) %> | <%= link_to('Edit', edit_bookmark_path(bookmark.id))%> | <%= link_to 'Delete', bookmark, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>

</ul>



<h3><%= link_to 'Create a new bookmark', new_bookmark_path %> </h3>
