
<p>
	<%= link_to 'New Bookmark', new_bookmark_path %>
</p>

<dl>
	<% @bookmarks.each do |bookmark| %>

		<dt><% if bookmark.favorite == true %></dt>
				<strong><%= link_to bookmark.title, bookmark %></strong>
				<% else %>
					<%= link_to bookmark.title, bookmark %>
				<% end %>
		<dd><a href="<%= bookmark['url']%>" target="_blank"> <%= bookmark['url'] %> </a></dd> <!--clickable link. I think this was the goal for Bonus 1? -->
		<dd>Comments: <%= link_to bookmark.comment, bookmark %></dd>
		<dd>On your favorites list? <%= bookmark.favorite %></dd>

		<%= link_to 'Edit bookmark?', edit_bookmark_path(bookmark) %>
		<%= link_to 'Delete bookmark?', bookmark_path(bookmark), method: :delete, confirm: 'Are you sure?' %><br>

	<% end %>
</dl>


