<ul>
<div class="page-header">
  <h1>Bookmahks
    <small>mahk-tastic
    </small>
  </h1>
</div>
</ul>
<table class="table table-striped">
  <tr>
    <td>
      Website
    </td>
    <td>
      URL
    </td>
    <td>
      Category
    </td>
    <td>
      Comments
    </td>
    <td>
      Favourited
    </td>
  </tr>

  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td>
        <%= bookmark.title %>
      </td>
      <td>
        <%= link_to(bookmark.url, bookmark.url)%>
      </td>
      <td>
        <%= bookmark.category %>
      </td>
      <td>
        <%= bookmark.comment %>
      </td>
      <td>
        <%= bookmark.is_favourite %>
      </td>
    </tr>
  <%end%>




</table>







