<% @bookmarks.each do |b| %>
  <div class="bookmark-index">
    <h3 class="bookmark-title"><a href="<%= b.url %>"><%= b.title %></a></h3>

    <p class="bookmark-url"><%= b.url %></p>
    <% if b.category != "" %>
      <div class="category-box">- <%= link_to b.category, category: b.category %></div>
    <% end %>
    <%= link_to(b) do %>
      <div class="etc-button"><span class="glyphicon glyphicon-bookmark"></span></div>
    <% end %>

    <% if b.comment != "" %>
      <%= link_to(b) do %>
      <p class="index-comment">see comment <span class="glyphicon glyphicon-circle-arrow-right"></span></p>
      <% end %>
    <% end %>

  </div>
<% end %>
