This is my index!




These are my bookmarks:

<% @bookmarks.each do |bmark| %>
  <ul>
    <li><%= link_to bmark.title, bmark.url, target: '_blank' %> </li>
    <li><%= bmark[:url] %> </li>
    <li><%= bmark[:comment] %> </li>
    <li><%= bmark[:category] %> </li>
    <li>Favorite? <%= bmark[:is_favorite] %> </li>
    <li><%= link_to 'More information', bmark %>

    <% if bmark.is_favorite %>
    YIPPEE!
    <% else %>
    <% end %>

  </ul>
<% end %>


