<p><%= notice %></p>

<h1>MY BOOKMARKS</h1>
<h2>
<div>
<ol>
      <% @bookmarks.each do |bookmark| %>
     <li> <%= link_to bookmark.title, bookmark.url %>
      <%= link_to "(more)", bookmark_path(bookmark) %>
      <% if bookmark.favorite %> (Love It!) <% end %>
  </li>

      <% end %>
</ol>
</div>
</h2>


<h2><%= link_to "New Bookmark", new_bookmark_path %></h2>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Favorite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.description %></td>
        <td><%= bookmark.category %></td>
        <td><%= bookmark.favorite %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>




