<h1>Add a Bookmark</h1>

<%= form_for @bookmark do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.label :favorite %>
  <%= f.check_box :favorite %>
<% end %>
