<h2>Create a new bookmark</h2>
<%= form_for @bookmark do |form| %>
	<p>URL: <%= form.text_field :url %></p>
	<p>Title: <%= form.text_field :title %></p>
	<p>Comment: <%= form.text_area :comment , rows:10, cols: 50 %></p>
	<%= check_box_tag(:favorite) %>
	<%= label_tag(:favorite, "This is a favorite") %><br>
	<p><%= form.submit %></p>
<% end %>
