
<div class="page-header">
  <h1 class="hero-text-header">Your Bookmark Details <small>check me out!</small></h1>
</div>


<ul>

  <li> <%= @bookmark.title %> </li>
  <li> <%= @bookmark.url %> </li>
  <li> <%= @bookmark.comment %> </li>
  <li> <%= @bookmark.category %> </li>

</ul>

<h4> <%= link_to('Edit this bookmark', edit_bookmark_path) %> </h4>
<h4> <%= link_to('Delete this bookmark', @bookmark, method: :delete, data: {confirm: 'Are you sure you want to delete?'})%> </h4>
