




<h1><%= @bookmark.title %></h1>
<p><%= @bookmark.url %></p>


<ul>
  <li>Comment: <%= @bookmark.comment %></li>
  <li>Category: <%= @bookmark.category %></li>
  <% unless @bookmark.is_fav %>
  <li>Not a favorite</li>
  <% end %>
</ul>



<%= link_to 'Edit Sitemark', edit_bookmark_path(@bookmark)%><br>
<%= link_to 'Delete Sitemark', @bookmark, method: :delete, data: { confirm: 'Having second thoughts?' } %>
