<div class="bookmark-show">
<h1 class="bookmark-title"><a href="<%= @bookmark.url %>"><%= @bookmark.title %></a></h1>
  <br>
<% if @bookmark.comment %>
  <p><strong>You added:</strong> <%= @bookmark.comment %></p>
<% end %>
<br>
<br>
<small>Added on <%= @bookmark.created_at %></small>
  <%= link_to edit_bookmark_path do %>
    <div class="edit-button"><span class="glyphicon glyphicon-pencil"></span></div>
  <% end %>

</div>
