<h1> <%= @bookmark.title %> </h1>


<p> <%= @bookmark.comment %></p>

<ul>
<li>Category: <%= @bookmark.category %> </li>
<li>URL: <%= @bookmark.url %> </li>
<li>Favorite: <%= @bookmark.is_favorite %> </li>



<% unless @bookmark.is_favorite %>
  This book mark is not a favorite.
  <% end %>


</ul>

<iframe src="<%= @bookmark.url %>"></iframe>

<br />


<%= link_to 'Edit this bookmark', edit_bookmark_path(@bookmark) %>

<br />

<%= link_to 'Delete bookmark', @bookmark, method: :delete %>

 <br>

<%= link_to 'Return to bookmark index', bookmarks_path %>
