<div class="bookmark-show">
<h1 class="bookmark-title"><a href="<%= @bookmark.url %>"><%= @bookmark.title %></a></h1>
  <br>
<% if @bookmark.comment %>
  <p><strong>You added:</strong> <%= @bookmark.comment %></p>
<% end %>
<br>
<br>
<small>Added on <%= @bookmark.created_at %></small>
  <div class="edit-delete-buttons">
  <%= link_to edit_bookmark_path do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <%end%>
  <%= link_to @bookmark, method: :delete, data: {confirm: 'Are you sure?'} do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
  </div>

</div>
