<h2><%= @bookmark[:title] %></h2>
<p>Url: <%= @bookmark[:url]%></p>
<p>Comment: <%= @bookmark[:comment]%></p>
<p>Favorite: <%= @bookmark[:favorite] ? 'Yes' : 'No' %></p>
<%= link_to 'Go Back', root_path, class: 'btn btn-lg btn-success'%>
