<%= link_to 'All Bookmarks', root_path %>

<h1><%= @bookmark.title %></h1>
<p><a href="<%= @bookmark.url %>"><%= @bookmark.url %></a></p>
<p><%= @bookmark.comment %></p>
<p><%= @bookmark.category %></p>
<p><%= @bookmark.is_favorite %></p>


<button><%= link_to 'edit a bookmark', edit_bookmark_path(@bookmark) %></button>

<button><%= link_to 'delete a bookmark', @bookmark, method: :delete, data: { confirm: 'Confirm delete' } %> </button>

