  <ol>
  <li>
    <ul>
      <li><%= bookmark[:id] %></li>
      <li><%= bookmark[:title] %></li>
      <li><%= bookmark[:url] %></li>
      <li><%= bookmark[:comment] %></li>
      <li><%= bookmark[:favourite?] %></li>
    </ul>
  </li>
  </ol>