<div>
  <div>
    <h1><%= @bookmark.title %></h1>
    <p>URL: <%= link_to @bookmark.url, @bookmark.url %></p>
    <p>Category: <%= @bookmark.category %></p>
    <% if @bookmark.checkbox %>
      <p>This link is a Favorite!</p>
    <% end %>
  </div>
  <div>
    <%= render @bookmark.comments %>
    <%= render 'comments/form' %>  
  </div>
  <div>
  <% @bookmark.tags.each do |tag| %>
    <a class="btn btn-info tag" href="#"><%= tag.tag_text %></a>
  <% end %>
    <%= render 'tags/form' %>  
  </div>
</div>

<div>
  <%= link_to '< All Links', bookmarks_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit this link', edit_bookmark_path, class: 'btn btn-primary' %>
  <%= link_to 'Delete this link', @bookmark, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
</div>