<h1>Bookmark Details </h1>
<p id="notice"><%= notice %></p>

<div class="show-details">
  <p>
    <strong>Link:</strong>
    <%= link_to @bookmark.url, @bookmark.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @bookmark.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @bookmark.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @bookmark.description %>
  </p>
  <p>
    <strong>Comments:</strong>
    <ol>
      <% @bookmark.comments.each do |comment| %>
        <li><%= comment.content %><%= link_to "Edit Comment", edit_comment_path(comment) %></li>
      <% end %>
    </ol>
  </p>
</div>
<%= link_to 'Edit Bookmark', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Destroy Bookmark', @bookmark, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', bookmarks_path %>
