<h1>Bookmark <%= @bookmark.id %></h1>
<ul>
  <li><%= link_to @bookmark.title, @bookmark %></li>
  <li><%= link_to @bookmark.url, @bookmark.url %></li>
  <li><%= @bookmark.comment %></li>
  <li><%= @bookmark.favourite? %></li>
</ul>
<p>
  <%= link_to 'Create Another Bookmark', new_bookmark_path %><br>
  <%= link_to 'Back to list', bookmarks_path %></p>