<p>
  Name is <%= @bookmark.title %><br>
  URL is <%= @bookmark.url %><br>
  Category is <%= @bookmark.category %><br>
  Comments on this bookmark are <%= @bookmark.comment %><br><br>

  <%= link_to 'Update', edit_bookmark_path(@bookmark) %>
</p>
