
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="well well-lg">
        <h2>
          Title: <%= @bookmark.title %>
          <br>
          url: <%= link_to(@bookmark.url,@bookmark.url) %>
          <br>
          comment: <%= @bookmark.comment %>
          <br>
          category: <%= @bookmark.category %>
          <br>
          favorite:
          <% if @bookmark.favorite %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <br>
        </h2>
      </div>

      <div class="form-actions">
        <%= link_to 'Back', bookmarks_path, :class => 'btn btn-primary btn-lg'  %>
        <%= link_to 'Edit', edit_bookmark_path, :class => 'btn btn-primary btn-lg' %>
        <%= link_to 'Delete', bookmark_path, :method => 'delete', confirm: 'Are you sure?', :class => 'btn btn-danger btn-lg' %>
      </div>
    </div>
  </div>
</div>
