<!-- links to the stylesheet -->
<link rel="stylesheet" href="assets/stylesheet/show_stylesheet.css" >
<!-- below are all the things of bookmark that
are to be displayed when you ask to show a entry -->
<div>
  <p>
    <h5>URL:</h5>
    <%= @bookmark.url %>
  </p>

  <p>
    <h5>Title:</h5>
    <%= @bookmark.title %>
  </p>

  <p>
    <h5>Description:</h5>
    <%= @bookmark.description %>
  </p>

  <p>
    <h5>Category:</h5>
    <%= @bookmark.category %>
  </p>

  <p>
    <h5>Favorite:</h5>
    <%= @bookmark.favorite %>
  </p>

  <ul>
   <h5> Comments: </h5>
    <% @comments.each do |c| %>
      <li><%= c.comment %></li>
    <%end%>
  </ul>

<!-- links to edit the bookmark, and link back to index -->
    <%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
    <%= link_to 'Back', bookmarks_path %>
</div>
