
<div class="header">
  <ul class="nav-pills pull-right">
    <li><%= link_to 'Edit Bookmark', edit_bookmark_path(@bookmark), class: 'btn btn-lg btn-success'%></li>
    <li><%= link_to 'Delete Bookmark', bookmark_path(@bookmark), method: :delete, confirm: 'Are you sure?', class: 'btn btn-lg btn-success' %></li>
    <li><%= link_to 'Index', root_path, class: 'btn btn-lg btn-success'%></li>
  </ul>
  <h2><%= @bookmark[:title] %></h2>
</div>
<br>
<div class="jumbotron">
  <p>Url: <%= link_to @bookmark[:url], @bookmark[:url] %></p>
  <p>Shortened Url: <%= link_to bookmarks_ext_path(@bookmark), bookmarks_ext_path(@bookmark) %></p>
  <p>Shortened Url Clicked on <%= @bookmark[:visits].present? ? @bookmark[:visits] : 0 %> times</p>
  <p>Comment: <%= @bookmark[:comment]%></p>
  <p>Favorite: <%= @bookmark[:favorite] ? 'Yes' : 'No' %></p>
</div>
