<div class='display'>

<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @bookmark.title %>
</p>

<p>
	<strong>URL:</strong>
	<%= @bookmark.url %>
</p>

<p>
	<strong>Comment:</strong>
	<%= @bookmark.comment %>
	<%= link_to 'Delete', comment, class: 'actions', method: :delete, data: { confirm: 'Are you sure?'} %>
</p>

<p>
	<strong>Category:</strong>
	<%= @bookmark.category %>
</p>

<p>
	<strong>Checked:</strong>
	<%= @bookmark.checked %>
</p>
</div>
<%= link_to '<<Back', bookmarks_path, class: 'actions' %>
