<div class="row">
  <div class="small-12 columns centered">
    <h2><%= @bookmark.title %></h2>
    <p><%= link_to @bookmark.url %></p>
    <h3><%= @bookmark.category %></h3>
    <p><%= @bookmark.comment %></p>
    <div class="right">
      <ul>
        <li class="inline"><%= "favorited" if @bookmark.is_favorite %></li>
        <li class="inline"><%= link_to "edit", edit_bookmark_path(@bookmark.id) %></li>
        <li class="inline"><%= link_to "delete", @bookmark, method: :delete, data: {confirm: 'Are you sure you would like to delete the bookmark?'} %></li>
      </ul>
    </div>
    <hr>
    <div class="right">
      <%= link_to "Return to Bookmarks", bookmarks_path, class: "small button return" %>
    </div>
  </div>
</div>
