<p>
<%= @bookmark.title %>
| <%= @bookmark.url %>
| <%= @bookmark.category %>
| <%= @bookmark.comment %>
| <%= label_tag :is_favorited,'Favorite' %>
  <%= check_box_tag :is_favorited,1,@bookmark.is_favorited ,disabled: true%>

| <%= link_to('Edit', edit_bookmark_path(@bookmark))%>
</p>

<h3><%= link_to('My Bookmarks', bookmarks_path)  %><h3>
