
<h2><%= @bookmark.title %></h2>
<%= link_to 'Edit', edit_bookmark_path(@bookmark), class: "btn btn-sm btn-default pull-right" %><h4><%= link_to @bookmark.url, @bookmark.url %></h4>
<hr>
<p><strong>Category</strong> | <%= @bookmark.category %></p>
<p><i><%= @bookmark.comment %></i></p>


</p>
