<h1>Bookmarkr</h1>

<ul>
  <li>URL: <%= link_to @bookmark.url, @bookmark.url %></li>
  <li>Title: <%= @bookmark.title %></li>
  <li>Description: <%= @bookmark.description %></li>
</ul>

<ul>
  <% @bookmark.comments.each do |comment| %>
  <li><%= comment.text %> <%= link_to "Delete", comment, method: :delete %></li>
  <% end %>
</ul>

Comment:

<%= form_for @comment do |f| %>
  <%= f.hidden_field :bookmark_id %>
  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.submit %>
<% end %>

<%= link_to "Edit", edit_bookmark_path(@bookmark) %>
<%= link_to "Delete", @bookmark, method: :delete %>
<%= link_to "Back", bookmarks_path %>