<!DOCTYPE html>
<html>
<head>
  <title>Bookmarkr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:600' rel='stylesheet' type='text/css'>
</head>
<body>
<%if flash.count %>
<div class="flashes">
  <% flash.each do |key, msg| -%>
    <%= content_tag :div, msg, class: key %>
  <% end -%>
</div>
<% end %>

<%if flash.count %>
<div class="flashes" id="alternate_flash">
  <% flash.each do |key, msg| -%>
    <%= content_tag :div, msg, class: key %>
  <% end -%>
</div>
<% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
