<!DOCTYPE html>
<html>
<head>
  <title>Bookmarkr | Katryn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><span class="glyphicon glyphicon-bookmark"></span> Bookmarkr <small>by Katryn</small>
        <button type="button" class="btn btn-danger btn-lg pull-right">Create new</button></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><%= link_to(bookmarks_path) %></li>
        <li><a href="#">Funny</a></li>
        <li><a href="#">Serious</a></li>
        <li><a href="#">Useful</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <%= yield %>
    </div>

    <div class="col-md-6">
    </div>
</div>

</body>
</html>
