<!DOCTYPE html>
<html>
<head>
  <title>Wdi4RailsHwBookmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <style>
  body {
    text-align: center;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .hero-text-index{
    font-family: 'Arvo', serif;
    font-size: 80px;

  }

  .hero-text-index a {
    text-decoration: none;
    color: black;
  }
  .hero-text-header{
    font-family: 'Arvo', serif;
    font-size: 48px;
  }
  .list{
    font-size: 30px;
  }
  .form{
    font-size: 22px;
  }
  .row{
    text-align: center;
  }
  .row .comment{
    font-size: 20px;
    color: grey;
  }
  .bookmarkr a {
    font-family: 'Arvo', serif;
    color: black;
    font-size: 30px;
    text-decoration: blink;

  }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
