<!DOCTYPE html>
<html>
<head>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <title>Bookmarkr - <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <!-- INTRO -->
  <div class="jumbotron">
        <h1>Bookmarkr</h1>
        <p>The simple and enjoyable way to manage your bookmarks online! View the list of bookmarks or add one of your own!</p>
        <p>
          <a href="/bookmarks" class="btn btn-primary btn-lg" role="button">Bookmarkr View »</a>
          <a href=""><button type="button" class="btn btn-lg btn-primary">New</button></a>
          <a href=""><button type="button" class="btn btn-lg btn-primary">Modify</button></a>
          <a href=""><button type="button" class="btn btn-lg btn-primary">Delete</button></a>
        </p>
      </div>
  <div id="searchbar">
    <input type="text" name="search" size="30" maxlength="50">
    <a href="/delete"><button type="button" class="btn btn-primary">Search</button></a>
  </div>

  <!-- MAIN -->
  <div>
    <p>
    <%= yield %>
    </p>
  </div>
</div>

</body>
</html>
